.card {
  align-items: center;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 20px;
  padding: 10px;
  width: 200px;
}

.card img {
  width: 50px;
}

.infoCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btnDivCard {
  align-items: center;
  display: flex;
}
